tqdm
glob2
numpy
scipy
torch
pandas
pybase64
matplotlib
pysaliency
pycocotools
torchvision
scikit-image
opencv-python
git+https://github.com/matthias-k/DeepGaze.git
git+https://github.com/facebookresearch/sam2.git